<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>单位APP</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Files</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>com.microsoft.word.doc</string>
				<string>com.microsoft.powerpoint.ppt</string>
				<string>public.item</string>
				<string>public.data</string>
				<string>public.text</string>
				<string>public.content</string>
				<string>public.composite-content</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.one2much.uimaster</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.3</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxfd6241a716ec641a</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>qq</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ05FE79C0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.weibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb4228107771</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string></string>
			<key>CFBundleURLName</key>
			<string>uimaster</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>uimaster</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.18</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>sciencemeetingoa</string>
		<string>zhifubaoclientzaipang</string>
		<string>sinanews</string>
		<string>dingtalk</string>
		<string>baidumap</string>
		<string>dianping</string>
		<string>tenpay</string>
		<string>momochs</string>
		<string>weipai</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>sinaweibo</string>
		<string>sinaweibohd</string>
		<string>sinaweibosso</string>
		<string>sinaweibohdsso</string>
		<string>weibosdk</string>
		<string>weibosdk2.5</string>
		<string>alipay</string>
		<string>alipayshare</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>wtloginmqq2</string>
		<string>fbauth2</string>
		<string>mqzoneopensdk</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapiV2</string>
		<string>iosamap</string>
		<string>qqmap</string>
		<string>comgooglemaps</string>
		<string>fx2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>这将允许我们使用相机，以便您在发帖和聊天等功能中发送照片给好友</string>
	<key>NSContactsUsageDescription</key>
	<string>这将允许我们获取您的联系人信息，以便您能在App中查看和使用这些信息，给好友发短信、打电话</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>这将允许我们获取您的当前位置，以便您进行定位以及获取附近商户的信息</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>这将允许我们获取您的当前位置，以便您进行定位以及获取附近商户的信息</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>这将允许我们使用录音功能，以便您能发送语音消息给您的好友</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>这将允许我们访问您的本地相册，以便您能在发帖和聊天等功能中发送相册中的图片给您的好友</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>这将允许我们使用图片上传,图片保存等服务</string>
	<key>UIAppFonts</key>
	<array>
		<string>UIDS.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.$(CFBundleIdentifier)</string>
	</array>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>$(AppIdentifierPrefix)$(CFBundleIdentifier)</string>
	</array>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>$(AppIdentifierPrefix)$(CFBundleIdentifier)</string>
	<key>sina.com.cn</key>
	<dict>
		<key>NSExceptionMinimumTLSVersion</key>
		<string>TLSv1.0</string>
		<key>NSIncludesSubdomains</key>
		<true/>
		<key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
		<true/>
		<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
		<false/>
	</dict>
</dict>
</plist>
